@model LeaveSystem.ViewModels.RegisterViewModel


<div class="form-group">
    <label for="ImageUrl">Employee Photo</label>
    <input type="file" class="form-control-file" id="Image" name="Images"  />
</div>

