
@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>The Complete Leave Management Solution</h1>
            <h3></h3>
            <p class="lead">Accept, Reject and Manage Leave Requests</p>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-light">Developed by CKT</div>
            <div class="card-body">
                This website enables you to Accept, Reject and Manage leave requests from employees.
            </div>
        </div>
    </div>
</div>


<script>
    $("a[href='/home/about']").attr("id", "active");
</script>

