@model List<LeaveSystem.ViewModels.LeaveViewModel>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>The Complete Leave Management Solution</h1>
            <h3></h3>
            <p class="lead">Accept, Reject and Manage Leave Requests</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
           
        </table>
    </div>
</div>
<script>
    $("a[href='/home/index']").attr("id", "active");
</script>
